.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  visibility: visible;
  visibility: hidden;
  font-family: "Poppins", "Courier New", sans-serif;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease-in;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  background-color: #fff;
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  border-radius: 8px;
}

.modal__container_type_preview {
  padding: 0;
  background: transparent;
}

.modal__image {
  width: 100%;
  object-fit: cover;
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
}

.modal__caption {
  background-color: rgba(33, 33, 33, 1);
  width: 214px;
  color: rgba(255, 255, 255, 1);
  padding: 4px 8px 4px 8px;
  border-radius: 8px;
  line-height: 24px;
  margin: 8px 0 0 0;
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: fit-content;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../images/close-icon.svg);
  background-position: center;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.modal__close-btn:hover {
  background: url(../images/close-icon-hover.png);
}

.modal__close-btn_type_preview {
  background: url(../images/close_preview.svg);
  top: 0;
  right: -52.5px;
  opacity: 1;
  padding: 0;
  cursor: pointer;
}

.modal__close-btn_type_preview:hover {
  background: url(../images/close_preview-hover.png);
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal__label {
  /*display: block or display: flex? Examine this style...*/
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  color: rgba(33, 33, 33, 0.7);
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

.modal__input {
  /*width: 100%  examine this style...*/
  padding: 16px 12px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  margin: 8px 0 0;
  color: rgba(33, 33, 33, 1);
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__input::placeholder {
  color: #212121;
  opacity: 30%;
}

.modal__input:hover {
  border: 1px solid rgba(33, 33, 33, 1);
}

.modal__error {
  display: block;
  margin-top: 8px;
  /* TO-DO - Use correct color and font sizes*/
  color: red;
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 0;
  border-radius: 8px;
  color: rgba(252, 245, 229, 1);
  background-color: rgba(33, 33, 33, 1);
  cursor: pointer;
}

.modal__submit-btn-inactive {
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__container_type_preview {
    padding: 0 6px 0;
  }

  .modal__image {
    width: 413px;
    border-radius: 4px;
    max-width: 90vw;
  }

  .modal__title {
    font-size: 20px;
    line-height: 1;
    margin: 10px 0 34px;
  }

  .modal__close-btn {
    top: 12px;
    right: 0px;
  }

  .modal__close-btn_type_preview {
    background: url(../images/close_preview.svg);
    top: -41px;
    right: 0px;
    opacity: 1;
    padding: 0;
  }

  .modal__label {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 1;
  }

  .modal__input {
    font-size: 16px;
    line-height: 1;
  }

  .modal__submit-btn {
    width: 100%;
  }
}
